body, td {
    font-family: Arial,Geneva CY,Sans-Serif;
}

.ttl {
    font-size: 130%;
    font-weight: bold;
    line-height: 1.4em;
    margin-bottom: 0.3em;
}
.warning .ttl{
	color:yellow;
}
.info .ttl{
	color:green;
}
.critical .ttl{
	color:red;
}

div.messages {
	margin-left: 20px;
	display: inline-block;
	vertical-align: top;
}

div.info div {
    margin-bottom: 0.3em;
}
li {
    list-style-position: outside;
    list-style-type: disc;
    margin-bottom: 0.25em;
    margin-left: 1.5em;
}
ul {
    padding-left: 1.5em;
}
.section {
	
}
.info, .warning, .critical {
	margin-bottom : 5px;
    padding-left: 3em;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.06) 0px, rgba(255, 255, 255, 0.06) 30px) repeatno-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-collapse: separate;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    padding: 16px 6% 14px 4%;
    position: relative;
    font-size: 0.8em;
    width: 200px;
}
.xf-field {
	clear:both; 
	text-align:right;
	line-height:25px;
}
.xf-label {
	float:left;
	padding-right:10px;
}
.xf-form{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.06) 0px, rgba(255, 255, 255, 0.06) 30px) repeatno-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-collapse: separate;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    padding: 16px 6% 14px 4%;
    position: relative;
    width: 400px;
    display: inline-block;
	float:left;
}
.xf-group{
	text-align:right;
}

.xf-group .xf-field {
    display: inline-block;
    vertical-align: top;
}
.xf-hint{
	font-size: 60%;
	line-height :150%;
}

.validation-info {
        text-align: left;
        padding: 5px;
        font-size: 11px;
        color: #fff;
        position: absolute;
        display: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: -1px 1px 2px #a9a9a9;
        -moz-box-shadow: -1px 1px 2px #a9a9a9;
        box-shadow: -1px 1px 2px #a9a9a9;
}
.validation-error {
        background: #f60000;
        border: 3px solid #d50000;
}
.validation-correct {
        background: #56d800;
        border: 3px solid #008000;
}
.validation-wrong {
        color: #e90000;
}
