body {
    margin: 5px;
    font-family: verdana, sans-serif;
}
		
.coverimage{
    width: 100px;
	margin-left: 20px;
	margin-top: 20px;
    position: absolute;
}
.cd {
    padding: 10px;
	background-color: rgba(232, 232, 232,1);
	border: 5px solid rgba(5, 146, 245,1);
    width: 250px;
	margin-left: 150px;
	margin-top: 20px;
	display: inline-block;
	vertical-align: top;
    position: relative;
}
.cd::before, .cd::after {
 content: ''; 
 position: absolute;
 top: 20px; right:270px;
 border: 15px solid transparent;
 border-right: 15px solid rgba(5, 146, 245,1);
}
.cd::after {
 border-right: 15px solid rgba(232, 232, 232,1);
 top: 20px; right: 263px; 
}